<div>

	<br />

	<h2> My League</h2>
	<div>
		<a href="PowerRankings?site=espn&leagueId=975549&userId=0">Power Rankings</a>
		<br />
		<a href="PlayoffMachine?site=espn&leagueId=975549&userId=0">Playoff Machine</a>
		<br />
		<a href="PlayoffOdds?site=espn&leagueId=975549&userId=0">Playoff Odds</a>
		<br />
		<a href="Scheduler?site=espn&leagueId=975549&userId=0">Schedule Comparison</a>
	</div>

	<h2>Kennys League</h2>
	<div>
		<a href="PowerRankings?site=espn&leagueId=1087440&userId=0">Power Rankings</a>
		<br />
		<a href="PlayoffMachine?site=espn&leagueId=1087440&userId=0">Playoff Machine</a>
		<br />
		<a href="PlayoffOdds?site=espn&leagueId=1087440&userId=0">Playoff Odds</a>
		<br />
		<a href="Scheduler?site=espn&leagueId=1087440&userId=0">Schedule Comparison</a>
	</div>

	<h2>The Keeper League</h2>
	<div>
		<a href="PowerRankings?site=espn&leagueId=1241838&userId=0">Power Rankings</a>
		<br />
		<a href="PlayoffMachine?site=espn&leagueId=1241838&userId=0">Playoff Machine</a>
		<br />
		<a href="PlayoffOdds?site=espn&leagueId=1241838&userId=0">Playoff Odds</a>
		<br />
		<a href="Scheduler?site=espn&leagueId=1241838&userId=0">Schedule Comparison</a>
	</div>

	@*<br />
		<br />
		<br />
		<h2>Multicast</h2>
		<div>
			<a href="Multicast">Multicast</a>
		</div>*@
	<div style="position:fixed;bottom:50px;width:100%">
		Questions? Comments? Reach out to my reddit account "justlikepudge"
	</div>
</div>