<div ng-controller="IndexController" ng-cloak>

	<br />
	
	<h2> MSOE Wrestlers League</h2>
	<div>
		<a href="Home/PowerRankings?leagueId=975549">Power Rankings</a>
	</div>
	
	<h2>Kennys League</h2>
	<div>
		<a href="Home/PowerRankings?leagueId=1087440">Power Rankings</a>
	</div>
	
	<h2>The Keeper League</h2>
	<div>
		<a href="Home/PowerRankings?leagueId=1241838">Power Rankings</a>
	</div>
	
	<br/>
	<br />
	<br />
	<br />

	<h2>Choose another league:</h2>
	<form class="form-horizontal" style="padding-left: 2%;">
		<fieldset>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-10 control-label">ESPN League ID</label>
				<div class="col-lg-10">
					<input type="number" class="form-control" id="leagueID" ng-model="leagueID">
					<button ng-click="submit()" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
	
	<br />
	<br />
	<br />
	<h2>Multicast</h2>
	<div>
		<a href="Home/Multicast">Multicast</a>
	</div>
</div>