<div ng-controller="IndexController" ng-cloak>
	<br/>
	<div ng-show="leagues.length === 0">
		<button ng-click="demo()" class="btn btn-primary">Try a demo</button>

		<h2>or Setup your profile:</h2>

		<div>
			<select ng-model="selectedSite" ng-options="site for site in supportedSites" ng-init="selectedSite= supportedSites[0]"></select>

			@*<input placeholder="Fantasy League URL" type="text"/>
			<span> or </span>*@
			<input placeholder="League ID" type="number" ng-model="leagueIDToAdd" style="font-size:14px"/>
			<input placeholder="Name of the league" type="text" ng-model="leagueNameToAdd" />


			<button class="btn btn-success" ng-click="addLeague()" ng-disabled="addDisabled()">Add</button>
		</div>
	</div>

	<div ng-show="leagues.length !== 0">
		<div ng-repeat="league in leagues">
			<h2>{{league.Name}}<i class="fa fa-trash" aria-hidden="true" style="padding-left:5px; cursor: pointer" ng-click="removeLeague(league)"></i></h2>
			<div ng-show="!league.PrivateLeague || !league.FailedToLoad ">
				<a href="Home/PowerRankings?leagueId={{league.ID}}" ng-show="!league.PrivateLeague">Power Rankings</a>
				<a href="Home/PowerRankingsFromData?data={{league.PrivateLeagueData}}" ng-show="league.PrivateLeague">Power Rankings</a>
				<br />
				<a href="Home/PlayoffMachine?leagueId={{league.ID}}" ng-show="!league.PrivateLeague">Playoff Machine</a>
				<a href="Home/PlayoffMachineFromData?data={{league.PrivateLeagueData}}" ng-show="league.PrivateLeague">Playoff Machine</a>
			</div>
			<br/>
		</div>

		<h2>Add another league</h2>
		<div>
			<select ng-model="selectedSite" ng-options="site for site in supportedSites" ng-init="selectedSite= supportedSites[0]"></select>

			@*<input placeholder="Fantasy League URL" type="text"/>
			<span> or </span>*@
			<input placeholder="League ID" type="number" ng-model="leagueIDToAdd" />
			<input placeholder="Name of the league" type="text" ng-model="leagueNameToAdd" />


			<button class="btn btn-success" ng-click="addLeague()" ng-disabled="addDisabled()">Add</button>
		</div>
	</div>

</div>