@model Fantasy_Playoff_Machine.Models.EspnLeague

<script language="JavaScript">
    window.__preloadedData.League = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
</script>

<div ng-controller="SchedulerController" ng-cloak>
	<br />
	<h2>Schedule Comparisons</h2>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Vs Who's Schedule</th>
				</tr>
				<tr>
					<th colspan="1">Teams</th>
					<th style="text-align:center" ng-repeat="team in teams">{{team.TeamName}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in teams">
					<td>{{team.TeamName}}</td>
					<td style="text-align:center" ng-class="getRecordColumnClass(team, teams[$index])" ng-repeat="opposingTeam in teams track by $index">{{getRecord(team, teams[$index])}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<br />

	<h2>Weekly Records vs All Teams</h2>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th style="text-align:center">Week</th>
				</tr>
				<tr>
					<th>Team Name</th>
					<th style="text-align:center" ng-repeat="week in league.CompletedSchedule track by $index">{{$index + 1}}</th>
					<th style="text-align:center">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in teams | orderBy:getTotalWinPercentage: true">
					<td>{{team.TeamName}}</td>
					<td style="text-align:center" ng-repeat="week in league.CompletedSchedule | orderBy:weekId">{{getWeeklyRecord(team, week)}}</td>
					<td style="text-align:center">{{getTotalRecord(team)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>