<br />
<h1>Future additions/suggestions</h1>

<h3>
	TheFFHub is always looking for new features. Feel free to add a suggestion below!
</h3>
<br />
<form action="https://formspree.io/mdonpkbg" method="POST">
	Your email (if you want a response back):<br />
	<input type="text" name="_replyto">
	<br/>
	Suggestion:<br />
	<textarea name="message"></textarea>
	<br />
	<br />
	<input type="submit" value="Send">
	<br />
</form>