<br />
<h1>Future additions/suggestions</h1>

<h3>
	TheFFHub is always looking for new features.  If you would like to reach out to me the easiest way to reach me is on <a href="https://www.reddit.com/user/justlikepudge">reddit</a> or at support@theffhub.com
</h3>

<h3>Planned features</h3>
<ul>
	<li>Google login for cross device views</li>
	<li>Full ESPN private league support</li>
	<li>Schedule analyzer</li>
</ul>